.botBox {
  --main-color: #66CC00;

  width: 350px;
  height: 150px;
  padding: 1em;
  border: 4px solid var(--main-color);
  border-radius: 20px;
  overflow-y: auto;

  position: fixed;
  right: 20px;
  bottom: 20px;
}

.botName, .botMessage {
  display: inline-flex;
}

.botName::after {
  content: ': ';
  white-space: pre;
}

.helpList dt {
  margin-top: 1em;
  text-decoration: underline;
}

.helpList dd {
  margin-bottom: 1em;
}
